* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  position: relative;
  font-family: NittiGrotesk;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin-right: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

textarea {
  resize: none;
}

input {
  border: none;
}

@media (min-width: 0px) and (max-width: 767px) {

  html {
    font-size: 55%;
    line-height: 1.875rem;
  }

}

@media (min-width: 768px) and (max-width: 899px) {

  html {
    font-size: 60%;
    line-height: 1.875rem;
  }

}

@media (min-width: 900px) and (max-width: 1023px) {

  html {
    font-size: 65%;
    line-height: 1.875rem;
  }

}

@media (min-width: 1024px) and (max-width: 1279px) {

  html {
    font-size: 65%;
    line-height: 1.875rem;
  }

}

@media (min-width: 1280px) and (max-width: 1439px) {

  html {
    font-size: 70%;
    line-height: 1.875rem;
  }

}

@media (min-width: 1440px) and (max-width: 1599px) {

  html {
    font-size: 80%;
    line-height: 1.875rem;
  }

}

@media (min-width: 1600px) and (max-width: 1920px) {

  html {
    font-size: 80%;
    line-height: 1.875rem;
  }

}

@media (min-width: 1920px) and (max-width: 2047px) {

  html {
    font-size: 85%;
    line-height: 1.875rem;
  }

}

@media (min-width: 2048px) and (max-width: 2560px) {

  html {
    font-size: 90%;
    line-height: 1.875rem;
  }

}

@media (min-width: 2560px) and (max-width: 3200px) {

  html {
    font-size: 95%;
    line-height: 1.875rem;
  }

}

@media (min-width: 3200px) and (max-width: 3839px) {

  html {
    font-size: 100%;
    line-height: 1.875rem;
  }

}

@media (min-width: 3840px) and (max-width: 9999px) {

  html {
    font-size: 100%;
    line-height: 1.875rem;
  }

}

@font-face {
  font-family: NittiGrotesk;
  font-weight: 500;
  src: url('/fonts/NGN.woff') format('woff');
}

@font-face {
  font-family: NittiNormal;
  font-weight: 500;
  src: url('/fonts/NN.woff') format('woff');
}

@font-face {
  font-family: NittiGroteskBold;
  font-weight: 500;
  src: url('/fonts/NGB.woff') format('woff');
}

@font-face {
  font-family: NittiBold;
  font-weight: 500;
  src: url('/fonts/NB.woff') format('woff');
}

.t--nitty-normal {
  font-family: NittiNormal;
}

.t--nitty-bold {
  font-family: NittiBold;
}

.t--nitty-grotesk {
  font-family: NittiGrotesk;
}

.t--nitty-grotesk-bold {
  font-family: NittiGroteskBold;
}

.t--title {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
}

.t--subtitle {
  font-family: NittiGroteskBold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
}

.t--text {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
}

.t--banner {
  font-family: NittiBold;
  font-size: 6rem;
  line-height: 7.5rem;
  font-weight: 500;
}

.t--logo {
  font-family: NittiBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
}

.t--form {
  font-family: NittiGrotesk;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 300;
}

.t--list {
  font-family: NittiGroteskBold;
  font-size: 1.5rem;
  line-height: 2.8125rem;
  font-weight: 300;
}

.t--label {
  font-family: NittiGrotesk;
  font-size: 1.2000000000000002rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.c--night {
  background: #000000;
}

.c--dark {
  background: #3d3d3d;
}

.c--medium {
  background: #a0a0a0;
}

.c--light {
  background: #f4f6f4;
}

.c--very-light {
  background: #f8f9f8;
}

.c--day {
  background: #FFFFFF;
}

.c--primary {
  background: #75C7B3;
}

.c--highlighted {
  background-color: #75C7B3;
  color: #FFFFFF;
}

.c--selected {
  background-color: #000000;
  color: #FFFFFF;
}

.c--negative {
  background-color: #000000;
  color: #FFFFFF;
}

.c--paper {
  background-color: #FFFFFF;
  color: #000000;
}

.c--recycled-paper {
  background-color: #f4f6f4;
  color: #000000;
}

.c--smudged-paper {
  background-color: #a0a0a0;
  color: #000000;
}

.c--darkend-paper {
  background-color: #3d3d3d;
  color: #FFFFFF;
}

.layout {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  color: #000000;
}

.layout--section {
  background-color: #f4f6f4;
  color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 99.375rem;
}

.grid--section {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.875rem;
}

.grid--section:last-child {
  flex: 3;
  padding: 0 1.875rem;
}

.subgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: row;
}

.container[data-container-type="column"] {
  display: flex;
  flex-direction: column;
}

.container[data-container-type="fw"] {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.subgrid[data-subgrid-columns="2"] .container[data-container-type="subgrid"] {
  width: 50%;
}

.subgrid[data-subgrid-columns="2"] .container[data-container-type="subgrid"]:nth-child(2n-1) {
  padding-right: 0.9375rem;
}

.subgrid[data-subgrid-columns="2"] .container[data-container-type="subgrid"]:nth-child(2n) {
  padding-left: 0.9375rem;
}

.subgrid[data-subgrid-columns="3"] .container[data-container-type="subgrid"] {
  width: 33.33333%;
}

.subgrid[data-subgrid-columns="3"] .container[data-container-type="subgrid"]:nth-child(3n-1) {
  padding-right: 0.9375rem;
}

.subgrid[data-subgrid-columns="3"] .container[data-container-type="subgrid"]:nth-child(3n) {
  padding-left: 0.9375rem;
}

.subgrid[data-subgrid-columns="3"] .container[data-container-type="subgrid"]:nth-child(3n-2) {
  padding-right: 0.9375rem;
}

.subgrid[data-subgrid-columns="3"] .container[data-container-type="subgrid"]:nth-child(3n-1) {
  padding-left: 0.9375rem;
}

@media (min-width: 0px) and (max-width: 767px) {

  
  
  .grid {
    display: flex;
    flex-direction: column;
  }
  
  .grid--section {
    flex: unset;
  }
  
  .grid--section:last-child {
    flex: unset;
  }
  
  .grid--section .subgrid {
    display: flex;
    flex-direction: row;
  }
  
  
  
  .subgrid[data-subgrid-columns="2"] .container[data-container-type="subgrid"] {
    width: 100%;
  }
  
  .subgrid[data-subgrid-columns="2"] .container[data-container-type="subgrid"]:nth-child(2n-1) {
    padding-right: 0;
  }
  
  .subgrid[data-subgrid-columns="2"] .container[data-container-type="subgrid"]:nth-child(2n) {
    padding-left: 0;
  }
  
  
  
  .subgrid[data-subgrid-columns="3"] .container[data-container-type="subgrid"] {
    width: 100%;
  }
  
  .subgrid[data-subgrid-columns="3"] .container[data-container-type="subgrid"]:nth-child(3n-1) {
    padding-right: 0;
  }
  
  .subgrid[data-subgrid-columns="3"] .container[data-container-type="subgrid"]:nth-child(3n) {
    padding-left: 0;
  }
  
  .subgrid[data-subgrid-columns="3"] .container[data-container-type="subgrid"]:nth-child(3n-2) {
    padding-right: 0;
  }
  
  .subgrid[data-subgrid-columns="3"] .container[data-container-type="subgrid"]:nth-child(3n-1) {
    padding-left: 0;
  }

}

.header {
  background-color: #75C7B3;
  color: #FFFFFF;
}

.logo {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #FFFFFF;
  font-family: NittiBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
  padding: 0 0.625rem;
}

.logo[data-logo-padded="true"] {
  padding: 0 1.875rem;
}

.logo[data-logo-inverse="true"] {
  background-color: #FFFFFF;
  color: #000000;
}

.logo[data-logo-size="large"] {
  font-family: NittiBold;
  font-size: 6rem;
  line-height: 7.5rem;
  font-weight: 500;
  padding: 0 1.875rem 0 1.5625rem;
  margin: 0 0.625rem 0.625rem 0;
}

@media (min-width: 0px) and (max-width: 767px) {

  
  
  .logo[data-logo-size="large"] {
    font-family: NittiBold;
    font-size: 2.25rem;
    line-height: 2.8125rem;
    font-weight: 500;
  }

}

.sheet {
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.3125rem #a0a0a0;
  background-color: #FFFFFF;
  color: #000000;
  padding: 1.875rem;
  transition: margin-top 1s ease-in-out;
}

.sheet:hover {
  border-color: #75C7B3;
}

.sheet--section[data-collapsable="true"] {
  padding: 0 0 0 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
}

.sheet--section[data-collapsable="true"]:hover, .sheet--section:hover + .sheet--section[data-collapsable="true"] {
  max-height: 18.75rem;
  transition: max-height 0.5s ease-in-out 0.5s;
}

.sheet--section {
  padding: 0 0 0.9375rem 0;
}

.sheet--section:last-child {
  padding: 0 0 0 0;
}

.sheet--title {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
}

.sheet--subtitle {
  font-family: NittiGroteskBold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
}

.sheet--text {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
}

.business-card {
  display: flex;
  flex-direction: row;
  border-bottom: solid 0.3125rem #a0a0a0;
  background-color: #FFFFFF;
  color: #000000;
  width: 100%;
}

.business-card:hover {
  border-color: #75C7B3;
}

.business-card--section {
  width: 8.75rem;
}

.business-card--section:last-child {
  width: auto;
  padding: 0.9375rem 0.9375rem 0.625rem 1.25rem;
}

.roadmap-item {
  display: flex;
  flex-direction: column;
  border-bottom: solid 0.3125rem #a0a0a0;
  background-color: #FFFFFF;
  color: #000000;
  padding: 1.875rem 1.875rem 0 1.875rem;
}

.roadmap-item:hover {
  border-color: #75C7B3;
}

.roadmap-item:hover .roadmap-item--collapsable {
  max-height: 37.5rem;
  transition: max-height 0.5s ease-in-out 1s;
}

.roadmap-item--collapsable {
  padding: 0 0 0 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out 1s;
  max-height: 0;
}

.roadmap-item--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 1.875rem 0;
}

.roadmap-item--issue-number {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
  text-align: right;
}

.roadmap-item--meta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.roadmap-item--assignee-title {
  padding: 0 0 0 3.75rem;
}

.roadmap-item--assignee {
  display: flex;
  flex-direction: column;
  background-color: #f4f6f4;
  color: #000000;
  border-left: solid 0.3125rem #a0a0a0;
  margin: 0 1.875rem 1.875rem 0;
  padding: 1.875rem 5.625rem 1.875rem 1.875rem;
}

.roadmap-item--row-container {
  display: flex;
  flex-direction: row;
}

.roadmap-item--profile-img {
  padding: 0.3125rem 0.625rem 0.3125rem 0;
  width: 3.75rem;
  height: 3.75rem;
}

.roadmap-item--activity {
  display: flex;
  flex-direction: column;
  background-color: #f4f6f4;
  color: #000000;
  border-left: solid 0.3125rem #a0a0a0;
  margin: 0 1.875rem 1.875rem 0;
  padding: 1.875rem 5.625rem 1.875rem 1.875rem;
}

.roadmap-item--milestone {
  display: flex;
  flex-direction: column;
  background-color: #f4f6f4;
  color: #000000;
  border-left: solid 0.3125rem #a0a0a0;
  margin: 0 1.875rem 1.875rem 0;
  padding: 1.875rem 5.625rem 1.875rem 1.875rem;
}

.roadmap-item--labels {
  display: flex;
  flex-direction: column;
  background-color: #f4f6f4;
  color: #000000;
  border-left: solid 0.3125rem #a0a0a0;
  padding: 1.875rem 1.875rem 1.875rem 1.875rem;
}

.roadmap-item--labels-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.roadmap-item--body {
  display: flex;
  flex-direction: row;
  padding: 1.875rem 0;
}

.roadmap-item--title {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
}

.roadmap-item--smalltitle {
  font-family: NittiGroteskBold;
  font-size: 1.2000000000000002rem;
  line-height: 1.5rem;
  font-weight: 300;
  padding: 0 0 0.3125rem 0;
}

.roadmap-item--text {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
}

.roadmap-item--tiny {
  font-family: NittiGrotesk;
  font-size: 1.2000000000000002rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.markdown h1 {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
  padding-bottom: 1.25rem;
}

.markdown h2 {
  font-family: NittiGroteskBold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  padding-bottom: 1.25rem;
}

.markdown p {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  padding-bottom: 1.25rem;
}

.markdown p:last-child {
  padding-bottom: 0;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
}

.button[data-button-type="sheet"] {
  border-bottom: solid 0.3125rem #a0a0a0;
  line-height: 1.875rem;
  font-family: NittiGroteskBold;
  margin: 0 0.3125rem 0 0;
  padding: 0.625rem 0.9375rem;
  flex-direction: row;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: #FFFFFF;
  display: flex;
  color: #000000;
}

.button[data-button-type="sheet"]:hover {
  border-color: #75C7B3;
}

.button[data-button-type="smudged"] {
  border-bottom: solid 0.3125rem #a0a0a0;
  line-height: 1.5rem;
  font-family: NittiGrotesk;
  margin: 0 1.875rem 0 0;
  align-items: center;
  padding: 0 0.9375rem;
  flex-direction: row;
  font-weight: 300;
  font-size: 1.2000000000000002rem;
  background-color: #f4f6f4;
  display: flex;
  color: #000000;
}

.button[data-button-type="smudged"]:hover {
  border-color: #75C7B3;
}

.image {
  display: block;
  max-width: 100%;
}

.image[data-image-size="10"] {
  max-width: 10%;
}

.image[data-image-filter="true"] {
  filter: grayscale(100%);
  transition: all 1s ease 1s;
}

.image[data-image-filter-recolor="true"]:hover {
  filter: none;
}

.form--input {
  font-family: NittiGrotesk;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 300;
  background-color: #f4f6f4;
  color: #000000;
  flex: 2;
  padding: 0.9375rem 0.9375rem 0.9375rem 1.875rem;
}

.form--subscribe {
  line-height: 2.8125rem;
  justify-content: center;
  font-family: NittiGrotesk;
  border: none;
  align-items: center;
  padding: 0.9375rem 0;
  flex-direction: column;
  outline: none;
  cursor: pointer;
  font-weight: 300;
  font-size: 2.25rem;
  background-color: #75C7B3;
  display: flex;
  flex: 1;
  color: #FFFFFF;
}

.form--subscribe:hover {
  background-color: #000000;
  color: #FFFFFF;
}

div.form--error {
  font-family: NittiGroteskBold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
  padding: 0.625rem 0.625rem 0.625rem 1.875rem;
  margin: 0;
}

.form--success {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
  padding-top: 1.25rem;
}

.label {
  line-height: 1.5rem;
  justify-content: center;
  font-family: NittiGrotesk;
  margin-right: 0.3125rem;
  align-items: center;
  padding: 0 0.9375rem;
  flex-direction: column;
  margin-bottom: 0.3125rem;
  font-weight: 300;
  font-size: 1.2000000000000002rem;
  background-color: #f4f6f4;
  display: flex;
  color: #000000;
}

.label:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.label[data-label-type="smudged"] {
  background-color: #FFFFFF;
  color: #000000;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 0;
}

.list--item {
  line-height: 2.8125rem;
  font-family: NittiGroteskBold;
  align-items: center;
  padding: 0 0.9375rem;
  flex-direction: row;
  margin-bottom: 0.3125rem;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: #f4f6f4;
  display: flex;
  color: #000000;
}

.list--item:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.list--item[data-selected="true"] {
  background-color: #75C7B3;
  color: #FFFFFF;
}

.footer {
  background-color: #000000;
  color: #FFFFFF;
}

.viewer {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  color: #000000;
  overflow-y: auto;
  flex: 1;
}

.viewer--content {
  display: block;
  max-width: 99.375rem;
}

.viewer--content h1 {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
  padding: 2.8125rem 0 0.3125rem 0;
}

.viewer--content h1:first-child {
  padding: 0 0 0.3125rem 0;
}

.viewer--content hr + h1 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h1 + h1 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h1 + h2 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h1 + h3 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h1 + h4 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h1 + h5 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h1 + h6 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h2 {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
  padding: 2.8125rem 0 0.3125rem 0;
}

.viewer--content h2:first-child {
  padding: 0 0 0.3125rem 0;
}

.viewer--content hr + h2 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h2 + h1 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h2 + h2 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h2 + h3 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h2 + h4 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h2 + h5 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h2 + h6 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h3 {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
  padding: 2.8125rem 0 0.3125rem 0;
}

.viewer--content h3:first-child {
  padding: 0 0 0.3125rem 0;
}

.viewer--content hr + h3 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h3 + h1 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h3 + h2 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h3 + h3 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h3 + h4 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h3 + h5 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h3 + h6 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h4 {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
  padding: 2.8125rem 0 0.3125rem 0;
}

.viewer--content h4:first-child {
  padding: 0 0 0.3125rem 0;
}

.viewer--content hr + h4 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h4 + h1 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h4 + h2 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h4 + h3 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h4 + h4 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h4 + h5 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h4 + h6 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h5 {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
  padding: 2.8125rem 0 0.3125rem 0;
}

.viewer--content h5:first-child {
  padding: 0 0 0.3125rem 0;
}

.viewer--content hr + h5 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h5 + h1 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h5 + h2 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h5 + h3 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h5 + h4 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h5 + h5 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h5 + h6 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h6 {
  font-family: NittiGroteskBold;
  font-size: 2.25rem;
  line-height: 2.8125rem;
  font-weight: 500;
  padding: 2.8125rem 0 0.3125rem 0;
}

.viewer--content h6:first-child {
  padding: 0 0 0.3125rem 0;
}

.viewer--content hr + h6 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h6 + h1 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h6 + h2 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h6 + h3 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h6 + h4 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h6 + h5 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h6 + h6 {
  padding: 0 0 0.3125rem 0;
}

.viewer--content h1 {
  font-size: 3.3000000000000003rem;
  line-height: 3.375rem;
}

.viewer--content h2 {
  font-size: 2.7rem;
  line-height: 3.375rem;
}

.viewer--content h3 {
  font-size: 2.25rem;
  line-height: 2.8125rem;
}

.viewer--content h4 {
  font-size: 1.875rem;
  line-height: 2.34375rem;
}

.viewer--content h5 {
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.viewer--content h6 {
  font-size: 1.2000000000000002rem;
  line-height: 1.5rem;
}

.viewer--content p {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  padding: 0 0 1.25rem 0;
}

.viewer--content a {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  color: #75C7B3;
  cursor: pointer;
}

.viewer--content a:hover {
  border-bottom: solid 0.0625rem #a0a0a0;
  border-color: #75C7B3;
}

.viewer--content strong {
  font-family: NittiGroteskBold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  padding: 0 0 1.25rem 0;
}

.viewer--content em {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  margin: 0 0 1.25rem 0;
}

.viewer--content hr {
  padding: 0 0 1.25rem 0;
  border: none;
  border-top: solid 0.3125rem #000000;
}

.viewer--content ul {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  list-style: square outside;
  padding: 0 9.375rem 1.25rem 1.875rem;
}

.viewer--content ol {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  list-style: decimal outside;
  padding: 0 9.375rem 1.25rem 1.875rem;
}

.viewer--content li {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  padding: 0 0 1.25rem 0;
}

.viewer--content li:last-child {
  padding: 0 0 0 0;
}

.viewer--content img {
  display: block;
  max-width: 100%;
  padding: 0 0 1.25rem 0;
}

.viewer--content figcaption {
  font-family: NittiGrotesk;
  font-size: 1.2000000000000002rem;
  line-height: 1.5rem;
  font-weight: 300;
  padding: 0 9.375rem 1.25rem 1.875rem;
}

.viewer--content blockquote {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  background-color: #f4f6f4;
  color: #000000;
  border-left: solid 0.3125rem #a0a0a0;
  padding: 1.875rem 9.375rem 1.875rem 1.5625rem;
  margin: 0 0 1.25rem 0;
}

.viewer--content pre {
  line-height: 1.875rem;
  border-left: solid 0.3125rem #a0a0a0;
  border-color: #75C7B3;
  font-family: NittiNormal;
  margin: 0 0 1.25rem 0;
  padding: 0.625rem 1.875rem 0.625rem 1.5625rem;
  white-space: pre-wrap;
  font-weight: 300;
  font-size: 1.375rem;
  background-color: #3d3d3d;
  color: #FFFFFF;
}

.viewer--content pre code {
  background-color: #3d3d3d;
  color: #FFFFFF;
  display: block;
}

.viewer--content code {
  font-family: NittiNormal;
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 300;
  display: inline-block;
  color: #3d3d3d;
}

.viewer--content fieldset {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  border: none;
}

.viewer--content legend {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  margin: 0 0 0.625rem 0;
}

.viewer--content input {
  font-family: NittiGrotesk;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 300;
  background-color: #f4f6f4;
  color: #000000;
  padding: 0.9375rem 1.875rem;
  width: 100%;
  margin: 0 0 1.25rem 0;
}

.viewer--content select {
  appearance: none;
  line-height: 1.875rem;
  width: 100%;
  font-family: NittiGrotesk;
  margin: 0 0 1.25rem 0;
  border: none;
  padding: 0.9375rem 1.875rem;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: #f4f6f4;
  border-radius: 0;
  color: #000000;
}

.viewer--content textarea {
  line-height: 1.875rem;
  width: 100%;
  font-family: NittiGrotesk;
  margin: 0 0 1.25rem 0;
  border: none;
  padding: 0.9375rem 1.875rem;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: #f4f6f4;
  color: #000000;
}

.viewer--content > *:last-child {
  padding-bottom: 0;
  margin: 0;
}

.code-pre {
  line-height: 1.875rem;
  border-left: solid 0.3125rem #a0a0a0;
  border-color: #75C7B3;
  font-family: NittiNormal;
  padding: 0.625rem 1.875rem 0.625rem 1.5625rem;
  white-space: pre-wrap;
  font-weight: 300;
  font-size: 1.375rem;
  background-color: #3d3d3d;
  color: #FFFFFF;
}

.code-pre .code {
  font-family: NittiNormal;
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 300;
  background-color: #3d3d3d;
  color: #FFFFFF;
  display: block;
}

.padding-b-third {
  padding: 0 0 0.625rem 0;
}

.padding-b-half {
  padding: 0 0 0.9375rem 0;
}

.padding-t-twothird {
  padding: 1.25rem 0 0 0;
}

.padding-b-twothird {
  padding: 0 0 1.25rem 0;
}

.padding-tb-twothird {
  padding: 1.25rem 0;
}

.padding-t-one {
  padding: 1.875rem 0 0 0;
}

.padding-b-one {
  padding: 0 0 1.875rem 0;
}

.padding-tb-one {
  padding: 1.875rem 0;
}

.padding-trbl-one {
  padding: 1.875rem;
}

.padding-t-two-b-one {
  padding: 3.75rem 0 1.875rem 0;
}

.padding-t-two {
  padding: 3.75rem 0 0 0;
}

.padding-b-two {
  padding: 0 0 3.75rem 0;
}

.padding-tb-two {
  padding: 3.75rem 0;
}

.padding-tb-four {
  padding: 7.5rem 0;
}